.room-book{
    position: relative;
    margin: auto;
    max-width: 650px;
    padding: 25px;
  }

.room-category{
      border: 1px solid #2b2b82f2;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }

.room-format{
    padding: 15px;
    color: #2b2b82f2;
    border-bottom: 1px solid #2b2b82f2;
    margin: 10px;
  }
  
  .room-made{
    padding: 15px;
    color: #2b2b82f2; 
    margin: 10px;
  }

.room-head{
    color: #2b2b82f2; 
    font-size: 18px;
  }

.fa-minus-circle {
    font-size: 25px;
    position: relative;
    float: right;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
  }

.fa-plus-circle {
    font-size: 25px;
    position: relative;
    float: right;
    left: 40px;
    bottom: 20px;
    color: #ff0000b8;
    cursor: pointer;
  }

  .room-count{
    float: right;
    position: relative;
    margin: auto;
    bottom: 20px;
  }
